.header {
    background-color: $grisOscuro;
    padding: 1rem 0 3rem 0;

    .emblem {
        height: 30rem;
        width: 30rem;
    }


    &.inicio {
        background-position: center center;
        background-size: cover;
        background-image: url(../img/header.webp);

        .emblem {
            width: 30rem;
            height: 30rem;
        }


        @include tablet {
            min-height: 70rem;
        }

        .contenido-header {
            @include tablet {
                min-height: 70rem;
            }
        }
    }
}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        text-align: left;
        color: $blanco;
        font-weight: $bold;
        line-height: 2;
        max-width: 60rem;
    }
}